@font-face {
    font-family: "Oswald Regular";
    src: url(../public/assets/Oswald/static/Oswald-Regular.ttf);
}

@font-face {
    font-family: "Oswald Medium";
    src: url(../public/assets/Oswald/static/Oswald-Medium.ttf);
}

@font-face {
    font-family: "Oswald Bold";
    src: url(../public/assets/Oswald/static/Oswald-Bold.ttf);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Oswald Regular", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    font-family: "Oswald Regular";
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

.navbar-light .navbar-text a,
.navbar-light .navbar-text a:focus,
.navbar-light .navbar-text a:hover {
    color: white;
}

h1 {
    font-size: 50px;
    font-family: "Oswald Bold";
    font-weight: bold;
}

p {
    font-family: "Oswald Regular";
    font-size: 13px;
}

input:focus {
    outline: none;
}

body button:focus,
a:focus {
    box-shadow: none !important;
    outline: none !important;
    color: white !important;
}

body button:active,
a:focus {
    box-shadow: none !important;
    outline: none !important;
    color: white !important;
}

.headermenu a:hover {
    color: white !important;
}


/*================================ Home Page ========================= */

.banner {
    background: linear-gradient(to bottom, #7242c705, #1e2947), url(../public/assets/images/homeherobg.svg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
}

.bannercontent h1 {
    font-size: 58px !important;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}

.bannercontent p {
    text-align: center;
    font-size: 14px;
}

.bannercontent {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84%;
    width: 38%;
    margin: 0 auto;
}


/* start of openPack */

.bannerbutton {
    border: none;
    letter-spacing: 1px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 1rem 4.4rem;
    border-radius: 35px;
    background-color: #8d4fec;
}

.bannercontent h1 {
    font-size: 50px;
}

.mainbast-wrapper {
    position: relative;
}

.POLYMON {
    background-color: #1e2947;
    color: white;
    height: 80vh;
}

.Discover {
    padding: 40px 0px;
    background-color: #f2e8ff;
}

.DiscoverCard {
    margin: 10px;
}

.RoadMap-Wrapper {
    background-color: #1e2947;
    /* padding: 50px 50px; */
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RoadMap-leftcard {
    box-shadow: 0px 0px 20px 0px #888888;
    background-color: rgb(242, 232, 255);
    align-items: center;
    border-radius: 5px;
    color: black;
    display: flex;
    width: 500px;
    height: 158px;
    margin: 0 auto;
    padding: 8px;
}

.RoadMap-card-contect p {
    text-align: left;
    margin-bottom: 0px;
}

.RoadMap-img {
    text-align: center;
    background-color: rgb(153, 95, 242);
}

.RoadMap-cards {
    width: 70%;
    margin: 0 auto;
}

.roadmapheadeing {
    margin-bottom: 40px;
    text-align: center;
}

.TokenSupply {
    background-color: rgb(242, 232, 255);
    text-align: center;
    padding: 50px 0px;
}

.TokenSupplyImg {
    width: 35%;
    margin: 0 auto;
}

.emailMarktingform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8648e5;
    height: 100%;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #ab79f8;
    text-align: center;
}

.emailMarktingforminput {
    position: relative;
    width: 50%;
    margin: 30px auto 0px auto;
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 25px;
    height: 25px;
    padding: 1.5px 0px 0px 0.5px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #8d4fec;
    border: none;
    outline: none;
    background: #8d4fec;
    border-radius: 100%;
}

body .BastsetList .slick-prev:before,
body .BastsetList .slick-next:before {
    font-family: "slick";
    font-size: 35px;
    line-height: 1;
    opacity: 0.75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.BastsetList {
    width: 70%;
    margin: 0 auto;
}

.BastsetList-matic {
    color: black;
}

.BastsetList-title {
    color: black;
}

.BastsetList .slick-list {
    width: 90%;
    margin: 0 auto;
}

.BastsetList-wrapper {
    background-color: #8d4fec;
    height: 80vh;
    position: relative;
}

.inner-BastsetList-wrapper {
    position: absolute;
    top: -46.5%;
    left: 0px;
    right: 0px;
}

.inner-DiscoverList-wrapper {
    padding: 50px 0px;
}

body .DiscoverList-slider .slick-prev {
    left: 46%;
    top: 108%;
}

body .DiscoverList-slider .slick-next {
    right: 46%;
    top: 108%;
}

body .DiscoverList-slider .slick-prev:before {
    font-size: 35px;
    color: #8d4fec;
}

body .DiscoverList-slider .slick-next:before {
    font-size: 35px;
    color: #8d4fec;
}

.bannercontent h1 {
    font-size: 50px;
}

.bastset {
    color: white;
    height: 70vh;
    text-align: center;
    padding: 40px 0px 0px 0px;
    background-image: linear-gradient(to bottom, #1e2947, #1e2947);
}

.bastset p {
    color: #dfdfdf;
    font-size: 15px;
    font-family: "Inter";
}

.POLYMON {
    background-color: #1e2947;
    color: white;
    height: 80vh;
}

.POLYMON-content {
    padding: 6rem 50px;
    width: 59%;
    margin: 0 auto;
    text-align: center;
}

.POLYMON-content p {
    margin-top: 3rem;
    color: #dfdfdf;
    font-size: 15px;
    font-family: "Inter";
}

.Discover {
    padding: 40px 0px;
    text-align: center;
}

.Discover h1 {
    color: rgb(30, 41, 71);
}

.Discover p {
    color: rgb(30, 41, 71);
    font-size: 15px;
    font-family: "Inter";
}

.DiscoverCard {
    margin: 10px;
}

.RoadMap-Wrapper {
    background-color: #1e2947;
    padding: 50px 50px;
    color: white;
}

.FLcard {
    margin-bottom: -2px;
    z-index: 99;
    box-shadow: 0px 6px 20px 0px #1e2947;
}

.FRcard {
    margin-bottom: -1px;
    z-index: 9;
    box-shadow: 0px 6px 20px 0px #1e2947;
}

.RoadMap-rightcard {
    background-color: rgb(242, 232, 255);
    align-items: center;
    border-radius: 5px;
    color: black;
    display: flex;
    width: 500px;
    height: 158px;
    padding-left: 7px;
    margin-left: 435px;
}

.RoadMap-card-contect h4 {
    font-family: "Oswald Bold";
    font-weight: bold;
    color: #1e2947;
    margin-bottom: 0px;
}

.RoadMap-card-contect p {
    text-align: left;
    margin-bottom: 0px;
    color: #1e2947;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 600;
}

.RoadMap-img {
    text-align: center;
}

.RoadMap-img img {
    width: 180px !important;
    height: 135px !important;
}

.RoadMap-card-contect {
    width: 50%;
    padding-left: 20px;
}

.RoadMap-cards {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.roadmapheadeing {
    margin-bottom: 40px;
}

.TokenSupply {
    text-align: center;
    padding: 50px 0px;
}

.TokenSupply h4 {
    color: #8648e4;
    font-family: 'Inter';
}

.TokenSupplyImg {
    width: 35%;
    margin: 0 auto;
}

.emailMarkting {
    background-image: url(../public/assets/images/homefooterbg.svg);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #8648e5;
    height: 70vh;
    padding: 70px 0px;
}

.emailMarktingform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8648e5;
    height: 100%;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #ab79f8;
}

.emailMarktingforminput input {
    padding: 13px 130px 16px 15px;
    border: 0px;
    width: 100%;
    border-radius: 30px;
    font-family: 'Inter';
    font-size: 14px;
}

.emailMarktingforminput button {
    border: none;
    color: white;
    border-radius: 30px;
    padding: 10px 40px;
    background-color: #1e2947;
    position: absolute;
    right: 3px;
    top: 3px;
}

.emailMarktingforminput {
    position: relative;
    width: 50%;
    margin: 30px auto 0px auto;
}

.emailMarktingform p {
    font-family: 'Inter';
    font-size: 15px;
}


/*================================ Home Page ========================= */


/*================================ openpack ========================= */

.openpack-wrapper {
    background: url("../public/assets/images/Openpackpagebg.svg") no-repeat;
    background-size: cover;
    background-position: unset;
    height: fit-content;
    width: 100%;
}

.openpack-hero-left {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color: white;
}

.openpack-hero-left h1 {
    font-size: 5rem;
    font-weight: bold;
    word-break: unset;
    letter-spacing: -2px;
}

.openpack-hero-left button {
    border-radius: 50px;
    background-color: #8338ec;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem 3rem;
    border: none;
    color: white;
}

.openpack-hero-right {
    width: 100;
    height: 50vh;
}

.openpack-hero-right div {
    background: url("../public/assets/images/OpenpackheroRImg.svg") no-repeat;
    background-size: contain;
}


/*================================ openpack========================= */


/*================================ Header========================= */

.store-banner h1 {
    text-align: left;
}

.openpack-hero-right div {
    background: url("../public/assets/images/OpenpackheroRImg.svg") no-repeat;
    background-size: contain;
    background-position: center;
    width: 86%;
    margin-left: 4rem;
    height: 100%;
}

.openpakrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.innerimage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerimage img {
    height: 80vh;
}


/* end of openPack */


/* start of store */

body .available-btn {
    background-color: #bca657 !important;
    font-size: 12px;
    letter-spacing: 1px;
}

.store-banner {
    background-image: url("../public/assets/images/sheaderbg.svg");
    background-size: cover;
    width: 100%;
    height: 25rem;
    /* display: flex; */
    /* align-items: center; */
}

.polymonpage-header h1 {
    font-size: 4rem;
    font-weight: 700;
    color: white;
    padding-left: 3rem;
    padding-top: 4rem;
}

.polymonpage-header {
    background: linear-gradient(#8648E5, #8648E5), url("../public/assets/images/polymonheaderbg.svg");
    background-size: cover;
    width: 100%;
    height: 25rem;
}

.store-banner h1 {
    font-size: 4rem;
    font-weight: 700;
    color: white;
    padding-left: 3rem;
    padding-top: 4rem;
}


/* end of store */


/* start of polymon */

.polymon-main-container .page-link {
    border-radius: 50%;
    border: 2px solid#8338EC;
    color: #8338ec;
    font-weight: 700;
    margin-right: 6px;
    background: none;
}

.polymon-main-container .page-item.active .page-link {
    background-color: #8338ec;
    color: white;
}


/* end of polymon */

body .header .headermenu a {
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(194, 154, 255);
    font-weight: 500;
}

.contact {
    padding: 5px 15px;
    border: 0px;
    border-radius: 20px;
    background-color: #8648e5;
    color: white;
    padding: 6px 28px;
    border: 0px;
    border-radius: 20px;
    background-color: #8648e5;
    color: white;
}

.header {
    padding: 2rem 8rem !important;
}

body .polymon-header .headermenu button {
    /* background-color: rgb(30, 41, 71); */
    background-color: #1E2947;
}


/* body .openpack-header .headermenu a {
    color: white;
}  */

.footer {
    background-color: hsl(224, 41%, 20%);
    padding: 12px 0px;
}

.footercont {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.footercopyright p {
    margin-bottom: 0px;
    color: white;
    font-family: 'Inter';
}

.footercopyright {
    width: 30%;
    text-align: center;
}

.footerlogo {
    width: 30%;
    padding-top: 10px;
    text-align: center;
}

.footersocial {
    width: 30%;
    padding-top: 10px;
    text-align: center;
}


/* .footersocial img {
    padding: 10px;
    width: 30px;
    height: 30px;
} */

.footersocial .footerM {
    width: 40px !important;
    height: 40px !important;
    margin: 0 10px;
}

.footersocial .footerM img {
    width: 35px !important;
    height: 35px !important;
}


/*================================ Footer========================= */

.popupmodal .modal-content {
    background-color: #8648e5;
}

.popupmodal {
    background-color: #1e2947;
    color: white;
}

.popupcontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popupimg {
    width: 35%;
}

.popupDetail {
    width: 65%;
}

.popup-mat {
    display: flex;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 10px;
}

.popup-mat-img {
    width: 50px;
    height: 50px;
}

.popup-mat-img img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
}

.popupmodal .modal-content .popupcrosbtn {
    width: fit-content;
    float: right;
    margin-bottom: 0px;
    border: none;
}

.popupcrosbtn button {
    color: white;
}

.popupDetail {
    padding-left: 50px;
}

.popupBtn {
    margin-top: 30px;
    background-color: #1e2947;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}

#ex1Slider .slider-selection {
    background: #bababa;
}

.rangeslider {
    background: rgb(186, 140, 255) !important;
}

.rangeslider-horizontal .rangeslider__fill {
    background-color: white !important;
}

.rangeslider-horizontal .rangeslider__handle {
    width: 0px !important;
}

.rangeslider .rangeslider__handle {
    border: none !important;
}

.rangeslider-horizontal .rangeslider__handle:after {
    left: 0px !important;
}

.rangeslider__handle-tooltip {
    background: white !important;
    color: black !important;
    border-radius: 30px !important;
    width: 120px !important;
    height: 40px !important;
    top: -2.8rem !important;
}

.rangeslider__handle-tooltip::before {
    content: "Days Left " !important;
    font-size: 14px;
    font-weight: 500;
}