html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


/* start of openPack */

.openpack-wrapper {
    background: url("../public/assets/images/Openpackpagebg.svg") no-repeat;
    background-size: cover;
    background-position: unset;
    height: 50rem;
    width: 100%;
}

.openpack-hero-left {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.openpack-hero-left h1 {
    font-size: 4rem;
    font-weight: bold;
    word-break: unset;
    letter-spacing: -2px;
}

.openpack-hero-left button {
    border-radius: 50px;
    background-color: #8338EC;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem 3rem;
}

.openpack-hero-right {
    width: 100;
    height: 100vh;
}

.openpack-hero-right div {
    background: url("../public/assets/images/OpenpackheroRImg.svg") no-repeat;
    background-size: contain;
    background-position: center;
    width: 86%;
    margin-left: 4rem;
    height: 100%;
}

.openpakrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.innerimage {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* end of openPack */

.headermenu a {
    padding: 10px;
    text-decoration: none;
}

.contact {
    padding: 5px 15px;
    border: 0px;
    border-radius: 20px;
    background-color: #8648e5;
    color: white;
}

.header {
    padding: 2rem 8rem !important;
}

.footer {
    background-color: hsl(224, 41%, 20%);
}

.footercont {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.footercopyright p {
    margin-bottom: 0px;
    color: white;
}

.footercopyright {
    width: 30%;
    text-align: center;
}

.footerlogo {
    width: 30%;
    padding-top: 10px;
    text-align: center;
}

.footersocial {
    width: 30%;
    padding-top: 10px;
    text-align: center;
}

.footersocial img {
    padding: 10px;
    width: 30px !important;
    height: 30px !important;
}